@import 'variables';

.hide-md {
    @media screen and (min-width: $tablet) {
        display: none !important;
    } 
}

.hide-sm {
    @media screen and (max-width: $desktop) {
        display: none !important;
    } 
}

.hide-lg {
    @media screen and (min-width: $desktop) {
        display: none !important
    } 
}

.text-center {
    text-align: center;
}

.text-title {
    text-align: center;
    background: url(../images/line.png) no-repeat center bottom;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 27px;
    text-transform: uppercase;
    margin: 40px 0;
    strong {
        color: $blue-primary
    }

    &.text-title--02 {
        color: $blue-primary    
    }

}

.thumbnail-01 {
    padding: 4px;
    border: thin solid #ddd;
    box-sizing: border-box;
    background-color: #eee;
}

.post-01 {
    a {
        display: block;
        color: #333333;
    }

    .title {
        margin: 17px 0;
        font-size: 17px;
    }

    .description {
        font-size: 15px;
        margin: 15px 0;
        font-weight: normal;
    }
}

.trip-item {
    .trip-link {
        display: block;
    }

    .trip__information {
        @include absolute(null, 5px, 5px, 5px);
    }

    .trip__detail {
        @extend %clearFix;
        padding: 5px 15px 7px;
        background-color: rgba(0,0,0,0.7);
        color: #ffffff;
        .name {
            float: left;
            margin-bottom: 0;
            line-height: 19px;
        }
        
        .time {
            float: right;
            line-height: 19px;
            margin-bottom: 0;
            font-size: 12px;
        }
    }

    .trip__fee {
        height: 44px;
        line-height: 44px;
        background-color: $blue-primary;
        color: #ffffff;
        position: relative;
        overflow: hidden;
    }

    .fee {
        padding: 0 10px;
    }

    .decoration-add {
        @include absolute(0, 0, 0);
        width: 44px;
        line-height: 41px;
        text-align: center;
        background-color: #000;
        z-index: 1;
        font-size: 25px;
        font-weight: bold;

        &:before {
            content: '';
            position: absolute;
            border-left: 25px solid transparent;
            border-right: 0px solid transparent;
            border-top: 44px solid #000;
            border-bottom: 44px solid #000;
            bottom: 0;
            left: 50%;
            margin-left: 0px;
            left: auto;
            right: 44px;
            z-index: 999;
        }
    }
}

.social-01 {
    margin-bottom: 0;
    li {
        display: inline-block;
    }

    a {
        color: #fff;
        display: inline-block;
        padding: 7px 13px;
    }
}

.input-primary {
    .item {
        margin-bottom: 15px;
    }

    .label {
        color: #333333;
        font-weight: bold;
        margin-bottom: 5px;
        text-transform: capitalize;
        font-size: 15px;
    }
    .input-01 {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        &:focus {
            outline: none;
        }
    }
    .type-item {
        label {
            cursor: pointer;
            margin-bottom: 3px;
        }
    }
}