
// // Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// // Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// color
$blue-primary: #33a6ff;

//header setting simple
$header-mobile-height: 68px;
$header-tablet-height: 88px;
$header-desktop-height: 99px;
$header-mobile-width: 225px;
$footer-desktop-height: 415px;

// breakpoint
$desktop-large: 1450px;
$desktop: 1200px;
$tablet: 768px;
$mobile: 374px;
