@import 'bootstrap/bootstrap-reboot.scss'
@import 'bootstrap/bootstrap-grid.scss'
@import 'base'
@import 'common'
@import 'color.scss'

body
    font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif

.kd-container
    max-width: 1170px
    margin: 0 auto

$map-header-icon: (1: '\f015', 2: '\f072', 3: '\f1b9', 4: '\f0c0', 6: '\f029', 7: '\f055', 8: '\f2b9', 9: '\f007')

.header-01
    border: thin solid #dddddd
    @include fixed(0, 0, null, 0)
    z-index: 999
    background-color: #fff

    .header__top
        display: none

    .header__bottom
        padding: 8px 0
        position: relative

    .logo
        display: inline-block
        vertical-align: middle
        img
            height: 50px
        
    .menu-01__wrapper
        @include fixed($header-mobile-height, null, 0, 0)
        background-color: #fff
        width: $header-mobile-width
        border-right: thin solid #ddd
        z-index: 999
        transform: translateX(-100%)
        transition: all 0.3s ease-in-out
        &.show
            transform: translateX(0)
    
    .menu-01
        @each $item, $code in $map-header-icon
            & > .item:not(.hide-sm):nth-child(#{$item})
                &:before
                    font-family: "Font Awesome 5 Free"
                    font-weight: 900
                    content: $code
                    font-size: 15px
                    margin-right: 3px

        & > .item
            padding: 10px 10px 10px 20px
            border-bottom: thin solid #ddd
            &.has-sub-menu
                position: relative
                &.show
                    &:after
                        transform: rotateZ(180deg)
                    & > .sub-menu
                        max-height: 500px
                &:after
                    font-family: "Font Awesome 5 Free"
                    font-weight: 900
                    content: '\f078'
                    font-size: 15px
                    font-size: 11px
                    margin-right: 3px
                    @include absolute(15px, 15px)
                    transition: all 0.3s ease-in-out
        .sub-menu
            max-height: 0
            transition: all 0.3s ease-in-out
            overflow: hidden
            margin-left: 17px
            box-sizing: border-box

            & > .item
                margin-top: 10px
                a
                    font-size: 12px
        a
            color: #333
            text-transform: uppercase
            font-size: 15px
    
    .trigger-toggle-menu
        @include header__trigger-toggle-menu(3px, $blue-primary)
    
    @media screen and (min-width: $tablet)
        .header__bottom
            padding: 18px 0
        .menu-01__wrapper
            top: $header-tablet-height
    @media screen and (min-width: $desktop)
        background-color: transparent
        border: none

        &.highlight
            border-bottom: thin solid $blue-primary
            .header__top
                background-color: $blue-primary
            .header__bottom
                background-color: #fff
                .logo
                    .white
                        display: none !important
                    .black
                        display: inline-block !important
                .menu-01 .item 
                    a
                        color: $blue-primary
                        &:hover
                            color: #ffffff
                    &.has-sub-menu:after
                        color: $blue-primary
        .header__top
            transition: background-color 0.3s ease-in-out
            display: block
            background-color: rgba($blue-primary, 0.4)
            .header--right-box
                text-align: right
                a
                    color: #fff
                    display: inline-block
                    padding: 7px 13px
                    font-size: 15px
                .icon
                    margin-right: 3px
        .header__bottom
            transition: background-color 0.3s ease-in-out
            background-color: rgba(#fff, 0.5)
            padding: 5px 0
        .menu-01__wrapper
            position: static
            float: right
            width: auto
            transform: translate(0)
            background-color: transparent
            border-right: none
            margin-top: 5px
            .menu-01 > .item
                display: inline-block
                border-bottom: none
                padding: 0
                &.active > a
                    background-color: $blue-primary
                    color: #ffffff !important
                & > a
                    color: #ffffff
                    font-size: 13px
                    display: inline-block
                    margin: 0 5px
                    padding: 10px 25px
                    transition: all 0.3s ease-in-out
                    border-radius: 23px
                &:before
                    display: none
                &:hover > a
                    background-color: $blue-primary
        .menu-01
            margin-bottom: 0
            .has-sub-menu
                &:after
                    top: 11px !important
                    right: 10px !important
                    color: #ffffff
                &:hover
                    .sub-menu
                        opacity: 1
                        visibility: visible

            .sub-menu
                @include absolute(100%, null, null, 0)
                max-height: max-content !important
                width: 200px
                opacity: 0
                visibility: hidden
                padding-top: 7px
                .item
                    background-color: #fff
                    width: 100%
                    margin-top: 0
                    &:not(:last-child)
                        border-bottom: 1px solid $blue-primary
                    a
                        display: block
                        padding: 10px
                        width: 100%
                        color: $blue-primary

.main-content
    padding-top: $header-mobile-height
    @media screen and (min-width: $tablet)
        padding-top: $header-tablet-height
    @media screen and (min-width: $desktop)
        padding-top: 0
        min-height: calc(100vh - #{$footer-desktop-height})
        &.main-content--02
            padding-top: $header-desktop-height

.hero-section
    position: relative
    .hero-section__content
        display: none
    
    .swiper-slide
        height: 466px
        background-repeat: no-repeat
        background-position: center
        background-size: auto 100%
        img
            height: 100%
            object-fit: cover

    @media screen and (min-width: $tablet)
        .swiper-slide
            min-height: calc(100vh - #{$header-mobile-height})
        .form-calculator
            top: 65%
    @media screen and (min-width: $desktop)
        .swiper-slide
            height: auto
            min-height: auto
            img
                height: auto
                object-fit: auto
        .form-calculator
            top: auto
            transform: translate(50%, 0)
            bottom: 100px
        .hero-section__content
            display: block
            @include absolute(50%, 50%)
            transform: translate(50%, -50%)
            text-align: center
            .title
                font-size: 20px
                text-transform: uppercase
                color: $blue-primary
                margin: 26px 0
            .description
                letter-spacing: 0.8px
                font-weight: bold
                font-size: 30px
                color: #ffffff
            
.form-calculator
    @include absolute(50%, 50%)
    transform: translate(50%, -50%)
    z-index: 100
    width: 100%
    max-width: 650px

    background-color: transparent
    padding: 0 15px
    .taxiType
        margin-bottom: 0
        @extend %clearFix
        .item
            background-color: $blue-primary
            padding: 10px 15px
            line-height: 1.42857143
            text-align: center
            float: left
            margin-right: 2px
            border-top-left-radius: 4px
            border-top-right-radius: 4px
            &.active
                background-color: #fff
                .icon
                    color: $blue-primary
                .text
                    display: inline-block
        .icon
            color: #ffffff
        .text
            color: $blue-primary
            font-size: 15px
            display: none

    .form
        padding: 15px
        background-color: #fff
        margin-top: -1px

    .input-01
        margin-bottom: 15px
        input
            float: left
            width: calc(100% - 36px)
            height: 34px
            padding: 6px 12px
            font-size: 14px
            line-height: 1.42857143
            color: #555
            background-color: #fff
            background-image: none
            border: 1px solid #ccc
            border-radius: 4px
            border-top-right-radius: 0
            border-bottom-right-radius: 0
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
            &:focus
                outline: none
        .button-decoration
            display: inline-block
            height: 34px
            line-height: 34px
            font-size: 14px
            color: #555
            width: 36px
            text-align: center
            background-color: #eee
            border: thin solid #ccc
            border-radius: 4px
            border-top-left-radius: 0
            border-bottom-left-radius: 0
            margin-left: -1px
            &.green i
                color: #08a969
            &.blue-bold i
                color: #104bbf

    .button-01
        width: 100%
        background-color: $blue-primary
        color: #fff
        border: none
        transition: all 0.3s ease-in-out
        height: 34px
        line-height: 34px
        border-radius: 4px
        text-transform: uppercase
        font-size: 14px
        font-weight: bold
        &:hover
            background-color: #1b80ce

    @media screen and (min-width: $desktop)
        max-width: 1140px
        .input-01
            margin-bottom: 0
        .taxiType .item
            cursor: pointer


.why-choose
    padding-top: 20px
    .choose-contents
        @extend %clearFix
    .icon
        font-size: 50px
        color: $blue-primary
        margin-top: 35px
        float: left
        width: 20%
    .contents
        float: left
        width: 80%
        .title
            text-transform: uppercase
        .description
            font-size: 15px
            text-align: justify
            margin-bottom: 35px
    @media screen and (min-width: $tablet ) and (max-width: $desktop)
        padding-left: 10px
        padding-right: 10px
        .icon
            margin-top: 0
            width: 100%
            text-align: center
        .contents
            width: 100%
    @media screen and (min-width: $desktop )
        .icon
            margin-top: 0

.counting
    background-image: url('../images/cars.jpg')
    background-attachment: fixed
    background-size: cover
    background-position: center
    position: relative
    padding: 100px 0px 60px
    &:before
        content: ''
        display: block
        @include absolute(0, 0, 0, 0)
        background-color: rgba(#000, 0.5)
    .counting-wrapper
        // color: $blue-primary
        text-align: center
        color: #ffffff
        margin-bottom: 20px
    .icon
        font-size: 40px
        line-height: 1
    .counting-number
        font-size: 30px
        font-weight: bold
    .counting-desc
        font-size: 15px
        font-weight: 500

.intro
    padding: 30px 0 0
    .info-wrapper
        margin-top: 30px
    .title
        text-transform: uppercase
        color: $blue-primary
        margin: 10px 0
        font-size: 15px
    .slogan
        font-size: 30px
        font-weight: 900
        margin: 0 0 30px 0

.long-trip
    position: relative
    padding-bottom: 40px
    background-color: #D2D2D2
    &:before,
    &:after
        content: ''
        @include absolute(0, 0, null, 0)
        display: block
        height: 300px
        background-image: url('../images/longtrip.jpg')
        background-size: cover
        background-attachment: fixed
        background-position: center
        background-repeat: no-repeat
    .top-content
        position: relative
        z-index: 3
        color: #fff
        margin-bottom: 30px
        .text-title
            text-align: left
            background-position: left bottom
            margin-top: 0
            padding-top: 40px
            margin-bottom: 20px
    .swiper-longtrip
        position: relative
        overflow: hidden
    .longtrip__arrow
        text-align: center
        margin-top: 20px

        .longtrip-button-next,
        .longtrip-button-prev
            display: inline-block
            cursor: pointer
            width: 50px
            height: 30px
            line-height: 30px
            text-align: center
            color: #ffffff
            margin: 0 10px
            background-color: $blue-primary
            font-size: 22px
            font-weight: bold
            position: relative
            &:before,
            &:after
                content: ''
                position: absolute
                border-left: 0px solid transparent
                border-right: 11px solid transparent
                border-top: 30px solid $blue-primary
                bottom: 0
                left: 50%
                margin-left: 0px
                left: 100%
            &:after
                border-top: 30px solid transparent
                border-bottom: 0 solid transparent
                border-right: 11px solid $blue-primary
                top: 0
                left: -11px

.news
    padding-bottom: 30px
    .post-01
        margin-bottom: 25px

.bottom-link
    padding: 30px 0 60px
    .title
        text-transform: uppercase
        font-weight: 700
        font-size: 15px
        color: $blue-primary
        margin: 20px 0 15px
    .item
        a
            color: #777
            font-size: 15px

.footer
    background: #eee
    padding: 15px 0 10px 0
    color: #222
    text-align: center
    p
        margin-bottom: 5px

    .footer__title

#hotline
    @include fixed(null, null, 30px, 10px)
    z-index: 100000
    background: $blue-primary
    width: 50px
    height: 50px
    display: inline-block
    margin-top: 10px
    color: #fff
    text-align: center
    font-size: 25px
    line-height: 48px
    border-radius: 50px
    text-decoration: none    

.progress-01
    padding: 15px
    [class^="col-"]
        padding: 0 1px
    .step
        background-color: #ddd
        padding: 10px
        height: 100%
        text-align: center
        font-size: 15px
        &.active
            background-color: $blue-primary
            color: #ffffff
    @media screen and (min-width: $desktop)
        padding: 30px 30px 15px
            
.fee-calculator
    margin-bottom: 60px

    .trip-information
        background-color: #ddd
        margin-bottom: 30px
        padding: 15px
        .title
            text-align: center
        .item
            margin-bottom: 15px
            .label
                color: #333333
                font-weight: bold
                margin-bottom: 5px
                text-transform: capitalize
            .input-01
                display: block
                width: 100%
                height: 34px
                padding: 6px 12px
                font-size: 14px
                line-height: 1.42857143
                color: #555
                background-color: #fff
                background-image: none
                border: 1px solid #ccc
                border-radius: 4px
                &:focus
                    outline: none
            .type-item
                label
                    cursor: pointer
                    margin-bottom: 3px
    .map
        .resultMap
            min-height: 280px
            background-color: rgb(229, 227, 223)
        .map-info
            margin-top: 10px
            @extend %clearFix
            color: #333333
            .pull-left
                float: left
            .pull-right
                float: right

    .trip-cars
        .booking-type
            border: 1px solid #ddd
            border-radius: 2px
            margin-bottom: 15px
            padding: 15px
        .star-group
            .fa-star
                color: #FFD42A
            sup
                background: $blue-primary
                color: #fff
                font-size: 11.25px
                padding: 3px
                border-radius: 10px
                cursor: pointer
        .infor
            margin: 15px 0
        .price
            font-size: 25px
            text-align: center
            span
                font-size: 15px
                display: block
        .button-submit
            background: $blue-primary
            display: block
            width: 100%
            color: #fff
            margin: 30px 0 0
            font-weight: normal
            font-size: 14px
            text-align: center
            vertical-align: middle
            touch-action: manipulation
            cursor: pointer
            border: thin solid transparent
            white-space: nowrap
            padding: 6px 12px
            line-height: 1.42857143
            border-radius: 4px
            user-select: none
        .note
            margin-top: 15px
    @media screen and (min-width: $tablet)
        .trip-information
            .information
                .item
                    .col-md-4
                        text-align: right
    @media screen and (min-width: $desktop)
        .trip-information
            background-color: transparent
            .information
                background-color: #ddd
                padding: 10px
        .trip-cars
            .booking-type-1
                .price
                    margin: 9px 0
            .booking-type-1--02
                .price
                    margin: 20px 0
        .map
            height: 100%
            padding: 10px
            background-color: #ddd
            .map-info
                margin-top: 17px

.user-information
    .progress-01
        padding: 30px 15px 

.order-information
    background-color: #eee
    padding: 0 15px
    .trip-information
        padding: 0 15px
        .item
            color: #333333
            strong
                margin-right: 4px
    .map
        padding-bottom: 15px
        .label
            padding: 0 15px
    .button-submit
        display: inline-block
        margin-bottom: 0
        font-weight: normal
        text-align: center
        vertical-align: middle
        -ms-touch-action: manipulation
        touch-action: manipulation
        cursor: pointer
        background-image: none
        border: 1px solid transparent
        white-space: nowrap
        padding: 6px 12px
        font-size: 14px
        line-height: 1.42857143
        border-radius: 4px
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        color: #fff
        background-color: #337ab7
        border-color: #2e6da4
    @media screen and (min-width: $tablet)
        .map
            padding-bottom: 40px
        .label
            text-align: right
    @media screen and (min-width: $desktop)
        .trip-information
            margin-bottom: 40px

.top-baner
    background-color: rgba(#000, 0.6)
    color: #ffffff
    padding-top: 25px